body{
    background: #f0f3f7;
}

header
{
    margin: 0;
}

nav{
    background: #0e0521;
    color: #f0f3f7;
    width: 100%;
    height: 70px;
}

.list
{
    list-style: none;
    display: inline-block;
    font-size: large;
}

.list-item
{
    list-style: none;
    display: inline-block;
    font-size: large;
    padding-left: 5%;
}

.div-container
{
    flex-wrap: wrap;
    display: flex;
}

img {
    border-radius: 2px;
}