html(lang="en")
    head
        title Jade Page
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', type='text/css', href='/css/stylesheet.css')
    body
        header.nav
            ul.list
                li.list-item Coffee
                li.list-item Tea
                li.list-item Milk
        main
        block content